{% extends 'base.html' %}

{% block contenido %}
{% load static%}

<h3>Carrito</h3>

<div class="row">
    <div class="col-lg-12">
        <div style="box-shadow:hsl(0, 0%, 80%) 0 0 16px; background-color: #fff; border-radius: 4px; padding: 10px;">

            <a  class="btn btn-outline-dark" href="{% url 'menu' %}">&#x2190; Menu </a>

            <br>
            <br>
            <table class="table">
                <tr>
                    <th><h5>Detalle Pedido: <strong></strong></h5></th>
                    <th><h5>Total:${{costo_total_carro}}<strong> </strong></h5></th>
                    <th>
                        <a  style="float:right; margin:5px;" class="btn btn-success" href="">Pagar</a>
                    </th>
                </tr>
            </table>
        </div>

        <br>
        
        <div style="box-shadow:hsl(0, 0%, 80%) 0 0 16px; background-color: #fff; border-radius: 4px; padding: 10px;">
            <div style="display: flex; align-items: flex-stretch; padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px solid #ececec;">
                <div style="flex:2"></div>
                <div style="flex:2"><strong>Nombre Plato</strong></div>
                <div style="flex:1"><strong>Precio Unitario</strong></div>
                <div style="flex:1"><strong>Cantidad</strong></div>
                <div style="flex:1"><strong>Total</strong></div>
            </div>

            
            {% if request.session.carro.items %}
                {% for key, value in request.session.carro.items %}
                <div style="display: flex; align-items: flex-stretch; padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px solid #ececec;">
                    <div style="flex:2"><img class="row-image" src="{{value.imagen}}" style="height: 50px;"></div>
                    <div style="flex:2"><p> {{value.nombre}} </p></div>
                    <div style="flex:1"><p>${{value.preciop}}</p></div>
                    <div style="flex:1">
                        <p class="quantity">{{value.cantidad}}</p>
                    </div>
                    <div style="flex:1"><p>${{value.precio}}</p></div>
                </div> 
            
                {% endfor %}

            {% endif %}
        </div>
        
        

</div>

{% endblock %}