{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static%}

{% block contenido %}


<div class="container-fluid" style="display: flexbox;">
    <div class="row">

        
        <div class="col-md-6" style="display: flexbox;">
            
            <img src="{% static 'image/gastronomia.jpg' %}" alt="Descripción" class="img-fluid" style="margin-left: 25%;margin-top: 10%;">
            
            <!-- Google Maps -->
            <div class="mapa" style="margin-left: 25%; margin-top: 10%;">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1661.6337426013558!2d-70.57936752877096!3d-33.59836356923182!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662d7037854df81%3A0x893f58a1479b8f82!2sDuoc%20UC%3A%20Sede%20Puente%20Alto!5e0!3m2!1ses-419!2scl!4v1714260655140!5m2!1ses-419!2scl" width="480" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

            </div>
        </div>

        <!-- Columna Derecha: Formulario -->
        <div class="col-md-6" style="display: flexbox;">
            <div class="container mt-4">
                <h3 style="text-align: center;">{{mensaje}}</h3>
                <div class="row justify-content-center">
                <div class="col-5">
                <form id="form_reserva_mesa" method="POST" action="" enctype="multipart/form-data" style="margin-bottom: 10%;">
                  <h1 class="mt-4" style="text-align: center;" >Reserva tu Hora</h1>

                  {% csrf_token %}
              
                  {{formremesa | crispy}}
                  <div class="d-grid gap-2 col-6 mx-auto">
                  <button type="submit"  class="btn btn-primary" >Enviar</button>
                  </div>
                </form>
                </div>
                </div>
              </div>
        </div>

    </div>
</div>



{% endblock %}
