    <!DOCTYPE html>
    <html lang="es">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Transbank</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    </head>
    <body>
    <div class="mb-3">
        <img src="{% static 'image/Transbank_logo.jpg' %}" alt="Logo Webpay" class="img-fluid mb-3" style="margin-left: 5%; width: 300px;">
    </div>
        <div class="container mt-6">
            <div class="row">
                <!-- Lado izquierdo: Selección del método de pago -->
                
                <div class="col-md-6">
                    <h4>Estás pagando en:</h4>
                    <img src="{% static 'image/wflow.jpg' %}" alt="WFlow" class="img-fluid mb-3" style="width: 200px";>
                    <h5>Monto a pagar: <strong>{{mi_boleta.Costo_Total}}</strong></h5>
                    <h4 class="mt-4">Selecciona tu medio de pago:</h4>
                    <div class="d-flex justify-content-between mt-3">
                        <div style="display: flex ; flex-direction: column;">
                            <img src="{% static 'image/debito.png' %}" alt="Débito" class="img-fluid" style="width: 100px";>
                            <input type="radio" id="debito" name="metodo_pago" value="debito" checked>
                            <label for="debito" style="margin-left: 25%;">Débito</label>
                        </div>
                    </div>
                    <div>
                    <a href=""> < Anular Compra y Volver al Comercio</a>
                    </div>
                </div>
                
                <!-- Lado derecho -->
                <div class="col-md-6" style="background-color: #f5f7fa; border: 2px solid grey; border-radius: 3%;">
                    <h4>Ingresa los datos de tu tarjeta:</h4>
                    <form>
                        <div class="form-group">
                            <label for="banco">Banco:</label>
                            <select class="form-control" id="banco">
                                <option>Seleccione Banco...</option>
                                <option value="scotiabank">Scotiabank</option>
                                <option value="santander">Banco Santander</option>
                                <option value="santander_banefe">Banco Santander Banefe</option>
                                <option value="itau">Banco Itau</option>
                                <option value="bci_tbanc">BCI-TBanc</option>
                                <option value="falabella">Banco Falabella</option>
                                <option value="corpbanca">Corpbanca</option>
                            </select>
                        </div>
                        <div class="form-group">
                        <label for="numero-tarjeta">Número de tarjeta:</label>
                        <input type="text" class="form-control" id="numero-tarjeta" placeholder="Ingresa tu número de tarjeta" pattern=".{12,}" title="Ingrese una Tarjeta Valida" required>
                        </div>
                        <div class="form-group">
                            <label for="clave">Clave:</label>
                            <input type="password" class="form-control" id="clave" placeholder="Ingresa tu clave" required>
                        </div>
                        <a href="{% url 'pago' mi_boleta.ID_Boleta %}" id="btnPagarServicio" class="btn btn-primary btn-block">Pagar</a>
                        
                        <div class="payment-icons mt-3">
                        <img src="{% static 'image/redcompra.png' %}" alt="Redcompra" style="width: 80px; margin-left: 20%;">
                        <img src="{% static 'image/visa.png' %}" alt="Visa" style="width: 80px; margin-right: 5%;">
                        <img src="{% static 'image/mastercard.png' %}" alt="Mastercard" style="width: 80px; margin-right: 5%;">
                    </div>
                    
                    </form>
                </div>
            </div>
        </div>
        
    
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                const btnPagarServicio = document.getElementById('btnPagarServicio');
                btnPagarServicio.addEventListener('click', function(event) {
                    event.preventDefault(); // Evita que el enlace se active automáticamente
                    
                    const form = document.querySelector('form');
                    if (form.checkValidity()) {
                        Swal.fire({
                            title: 'Validando pago',
                            html: '<div class="spinner-border text-primary" role="status"><span class="sr-only">Loading...</span></div>',
                            showConfirmButton: false,
                            allowOutsideClick: false,
                            allowEscapeKey: false,
                            allowEnterKey: false
                        });
                        
                        setTimeout(function() {
                            Swal.close(); 
                            
                            
                            Swal.fire({
                                icon: 'success',
                                title: '¡Pago exitoso!',
                                text: 'El pago se ha procesado correctamente.'
                            }).then(() => {
                                
                                window.location.href = "{% url 'pagado' mi_boleta.ID_Boleta %}";
                            });
                        }, 3000); 
                        form.reportValidity();
                    }
                });
            });
        </script>
        