{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block contenido %}

<div class="container" style="height: 810px;">
  <div class="row">
      <div class="col-8" style="margin: auto; margin-top: 10px" >
      <div class="card"  >
          <div class="card-header text-center" >
              Nuevo Ingrediente
            </div>
          <div class="card-body">
           
              <form class="row" id="FormularioIngrediente" action="" method="POST" >
                  {% csrf_token %}                   
                  <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input type="text" class="form-control" name="nombre" required>
                  </div>
                  <div class="form-group">
                    <label for="costo">Costo:</label>
                    <input type="text" class="form-control" name="costo" required>
                  </div>

                  <div class="form-group">
                    <label for="unidad" class="form-label">Unidad Medida</label>
                    <select id="unidad" class="form-select" name="unidad">
                      <option selected>Seleccione</option>
                      <option value="Kilo">Kilo</option>
                      <option value="Litro">Litro</option>
                    </select>
                  </div>
                
              
                  <div class="col-12" >
                    <br>
                    <button type="submit" style="width: 100%" class="btn btn-primary">Registrar Nuevo Ingrediente</button>
                  </div>
                </form>
          </div>
      </div>
  </div>
</div>
</div>


<script>
  document.getElementById('FormularioIngrediente').addEventListener('submit', function(event) {
      event.preventDefault(); 

      Swal.fire({
          title: '¡Advertencia!',
          text: "¿Estas Seguro de la Unidad De Medida?",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Sí, agregar',
          cancelButtonText: 'No, Cancelar'
      }).then((result) => {
          if (result.isConfirmed) {
              this.submit(); 
          }
      })
  });
</script>



{% endblock %}
