{% extends 'base.html' %}

{% block contenido %}

<div class="row">
  <div class="col-6">
    <table class="table">
      <h1 style="text-align: center;"><b>Stock de Bodega</b></h1>
        <thead>
          <tr>
            <th scope="col">Ingredientes</th>
            <th scope="col">Cantidad</th>
          </tr>
        </thead>
        <tbody>
            {% for i in mis_ingredientes %}

          <tr {% if i.Cantidad < 20 %}
                  class="table-danger"
              {% elif i.Cantidad > 20 %}
                  class="table-warning"
            {% endif %}>
            <th scope="row"> {{ i.ID_Ingrediente }} </th>
            <td> {{ i.Cantidad }} </td>
            <td>
              <button type="button" class="btn btn-primary btn-sm" style="margin-left: 45%;" data-bs-toggle="modal" data-bs-target="#modalAgregarStock{{ i.ID_Ingrediente }}">Agregar Stock</button>
            </td>
          </tr>

    
          {% endfor %}
        </tbody>
      </table>
  </div>
  <div class="col-6">
    <table class="table">
      <h1 style="text-align: center; margin-top: 1%;"><b>Solicitud de Ingredientes</b></h1>
      <thead>
        <tr>
          <th scope="col">Ingredientes</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Fecha</th>
        </tr>
      </thead>
      <tbody>
          {% for e in mis_peticiones %}
        <tr>
          <th scope="row"> {{ e.Ingrediente }} </th>
          <td> {{ e.Cantidad }} </td>
          <td> {{ e.fecha_y_hora }} </td>
          <td><a href="" class="btn btn-primary btn-sm" style="margin-left: 45%;">Aprobar Solicitud </button> </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<a href="{% url 'DescargarReporteExcel' %}" class="btn btn-secondary btn-bg" >Descargar Reporte Excel</a>



{% for i in mis_ingredientes %}
<!-- Modal para agregar stock -->
<div class="modal fade" id="modalAgregarStock{{ i.ID_Ingrediente }}" tabindex="-1" role="dialog" aria-labelledby="modalAgregarStockLabel{{ i.ID_Ingrediente }}" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalAgregarStockLabel{{ i.ID_Ingrediente }}">Agregar Stock</h5>
        </button>
      </div>
      <div class="modal-body">
        <!-- Contenido del modal -->
        <form id="formCantidad{{ bodega.ID_Ing_Bod }}">
          <p><b>Ingrediente:</b> {{ i.ID_Ingrediente }}</p>
          <label for="cantidad{{ bodega.ID_Ing_Bod }}">Nueva Cantidad:</label>
          <input type="number" id="cantidad{{ bodega.ID_Ing_Bod }}" name="cantidad" min="0" required>
          <a href="{% url 'actualizar_ingrediente' %}" class="btn btn-primary btn-sm">Actualizar Stock</a>
        </form>
        
        
        <!-- Aquí puedes agregar un formulario para ingresar la cantidad de stock a agregar -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
       
      </div>
    </div>
  </div>
</div>
{% endfor %}








{% endblock %}
