{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block contenido %}

<div class="container mt-5"style="height: 760px;">
    <div class="text-center">
      <h2 class="mt-4">Lista de Usuarios</h2>  
    </div>
    



<table class="table">
    <thead>
      <tr class="border border-3  border border-black">
        <th scope="col"><b>Nombre</b></th>
        <th scope="col"><b>Apeliido</b></th>
        <th scope="col"><b>Correo</b></th>
      </tr>

    </thead>
    <tbody>
        {% for x in Usuarios %}
        
        <tr class="border border-3 border border-black ;" >
            <th scope="row" >{{x.first_name}}</th>
            <td>{{x.last_name}}</td>
            <td>{{x.email}}</td>
            <td>
              <div class="d-flex justify-content-center">
                  <a href="{% url 'eliminar_colaborador' x.username %}" class="btn btn-danger btn-sm mx-1 flex-fill text-center">Eliminar</a>
                  <a href="{% url 'modificar_colaborador' x.username %}" class="btn btn-secondary btn-sm mx-1 flex-fill text-center">Editar</a>
              </div>
          </td>
          
        

        </tr>
      {% endfor %}

    </tbody>
  </table>
</div>
  {% endblock %}

