{% extends 'base.html' %}

{% block contenido %}

<div class="row">
  <div class="col-6">
    <table class="table">
      <h1 style="text-align: center;"><b>Stock de Bodega</b></h1>
        <thead>
          
          <tr>
            <th scope="col">Ingredientes</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Unidad de Medida</th>
            <th scope="col">Agregar Stock</th>
          </tr>
        </thead>
        <tbody>
            {% for i in mis_ingredientes %}

          <tr {% if i.Cantidad <= 20 %}
              class="table-danger intense-red"
              {% elif i.Cantidad > 20 %}
                  class="table-warning"
            {% endif %}>
            <th scope="row"> {{ i.ID_Ingrediente }} </th>
            <td> {{ i.Cantidad }} </td>
            <td>{{ i.ID_Ingrediente.unidad_medida }}</td>
            <td>
              <button type="button" class="btn btn-primary btn-sm"  data-bs-toggle="modal" data-bs-target="#modalAgregarStock{{ i.ID_Ingrediente.ID_Ingrediente }}">Agregar Stock</button>
            </td>
          </tr>

    
          {% endfor %}
          
        </tbody>
      </table>

      

  </div>
  <div class="col-6">
    <table class="table">
      <h1 style="text-align: center; margin-top: 1%;"><b>Solicitud de Ingredientes</b></h1>
      <thead>
        <tr>
          <th scope="col">Ingredientes</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Unidad de Medida</th>
          <th scope="col">Fecha</th>
          <th scope="col">Estado</th>

        </tr>
      </thead>
      <tbody>
          {% for e in mis_peticiones %}
          {% if e.Realizado == 0 %}
        <tr>
          <th scope="row"> {{ e.Ingrediente }} </th>
          <td> {{ e.Cantidad }} </td>
          <td>{{e.Ingrediente.unidad_medida}}</td>
          <td> {{ e.fecha_y_hora }} </td>
          {% if e.Realizado == 0 %}
          <td>Pendiente</td>
          {% endif %}
          <td><a href="{% url 'descuenta_ingrediente' e.ID_Solicitud_Ingrediente %}" class="btn btn-primary btn-sm" style="margin-left: 45%;">Aprobar Solicitud </button> </td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-5"><a href="{% url 'DescargarReporteExcel' %}" class="btn btn-secondary btn-bg" style="margin-left: 0%;">Descargar Reporte Excel</a>
  </div>
  <div class="col-4">
    <div style="display: inline-block; margin-left: 10px; margin-bottom: 5px; width: 20px; height: 20px; background-color: #f8d7da;"></div>
  <span>Bajo Stock</span>
  <br>
  <div style="display: inline-block; margin-left: 10px; margin-bottom: 5px; width: 20px; height: 20px; background-color: #fff3cd;"></div>
  <span>Stock Suficiente</span>


</div>
</div>






{% for i in mis_ingredientes %}
<!-- Modal para agregar stock -->
<div class="modal fade" id="modalAgregarStock{{ i.ID_Ingrediente.ID_Ingrediente }}" tabindex="-1" role="dialog" aria-labelledby="modalAgregarStockLabel{{ i.ID_Ingrediente.ID_Ingrediente }}" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalAgregarStockLabel{{ i.ID_Ingrediente }}">Agregar Stock</h5>
        </button>
      </div>
      <div class="modal-body">
        <!-- Contenido del modal -->
       <form id="formCantidad{{ i.ID_Ing_Bod }}" method="POST" action="{% url 'actualizar_ingrediente2' i.ID_Ing_Bod %}">
          {% csrf_token %}
          <p><b>Ingrediente:</b> {{ i.ID_Ingrediente }}</p>
          <label for="cantidad{{ i.ID_Ing_Bod }}">Nueva Cantidad:</label>
          <input type="number" id="cantidad{{ i.ID_Ing_Bod }}" name="cantidad" min="0" required>
          <button type="submit" class="btn btn-primary btn-sm">Actualizar Stock</button>
        </form>
        
        
        <!-- Aquí puedes agregar un formulario para ingresar la cantidad de stock a agregar -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
       
      </div>
    </div>
  </div>
</div>
{% endfor %}








{% endblock %}
