{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block contenido %}

<div class="container mt-5"style="height: 760px;">
    <div class="text-center">
      <h2 class="mt-4">Lista de Usuarios</h2>  
    </div>
    



<table class="table">
    <thead>
      <tr class="border border-3  border border-black">
        <th scope="col"><b>Nombre</b></th>
        <th scope="col"><b>Rut</b></th>
        <th scope="col"><b>Perfil</b></th>
      </tr>

    </thead>
    <tbody>
        {% for x in Usuarios %}
        
        <tr class="border border-3 border border-black ;" >
            <th scope="row" >{{x.username}}</th>
            <td>{{x.rut}}</td>
            <td>Perfil</td>
            <td>
                <a href="" class="btn btn-primary btn-sm" style="margin-left: 45%;">Ver</button>  
                <a href="" class="btn btn-danger btn-sm" style="margin-left: 5%;">Eliminar</a>
                <a href="" class="btn btn-secondary btn-sm" style="margin-left: 5%;">Editar</button>
      
            </td>
        

        </tr>
      {% endfor %}

    </tbody>
  </table>
</div>
  {% endblock %}

