{% extends 'base.html' %}

{% block contenido %}

    <table class="table">
        <thead>
          <tr>
            <th scope="col">Producto</th>
            <th scope="col">Precio</th>
            <th scope="col">Descripcion</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>

            {% for m in Menu %}
          <tr>
            <th scope="row"> {{ m.Nombre }} </th>
            <td> ${{ m.Costo }} </td>
            <td> {{ m.Descripcion }} </td>
            <td> <a href="{% url 'activaplato' m.Nombre %}" class="btn btn-success"> Disponible </a>  </td>
            <td> <a href="{% url 'desactivaplato' m.Nombre %}" class="btn btn-danger"> No Disponible </a>  </td>
            <td> <a href="{% url 'modificarmenu' m.Nombre %}" class="btn btn-primary"> Editar </a>  </td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
 
  
  {% endblock %}