{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block contenido %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="text-center">
        <h2 class="mt-5 mb-5">Platos Solicitados</h2>
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">Producto</th>
              <th scope="col">Mesa</th>
              <th scope="col">Estado</th>
              <th scope="col">Cambiar Estado</th>
            </tr>
          </thead>
          <tbody>
            {% for y in pedidos %}
              {% if y.Listo == 0 %}
                <tr>
                  <td style="background-color: yellow;">{{ y.ID_Platos.Nombre }}</td>
                  <td style="background-color: yellow;">{{ y.ID_Pedido.ID_Mesa.Nombre_Mesa }}</td>
                  <td style="background-color: yellow;">
                    {% if y.Listo == 1 %}
                      <span class="badge bg-success">Plato Listo</span>
                    {% elif y.Sol_cocina == 1 %}
                      <span class="badge bg-warning text-dark">Plato Solicitado</span>
                    {% endif %}
                  </td>
                  {% if y.Listo == 0 %}
                    <td style="background-color: yellow;">
                      <a href="{% url 'estadoplatolisto' y.ID %}" class="btn btn-primary btn-sm">Cambiar a Listo</a>
                    </td>
                  {% else %}
                    <td></td> 
                  {% endif %}
                </tr>
              {% elif y.Listo == 1 %}
              <tr>
                <td style="background-color: #6afbbc">{{ y.ID_Platos.Nombre }}</td>
                <td style="background-color: #6afbbc">{{ y.ID_Pedido.ID_Mesa.Nombre_Mesa }}</td>
                <td style="background-color: #6afbbc">
                  {% if y.Listo == 1 %}
                    <span class="badge bg-success">Plato Listo</span>
                  {% elif y.Sol_cocina == 1 %}
                    <span class="badge bg-warning text-dark">Plato Solicitado</span>
                  {% endif %}
                </td>
                {% if y.Listo == 0 %}
                <td style="background-color: #6afbbc">
                    <a href="{% url 'estadoplatolisto' y.ID %}" class="btn btn-primary btn-sm">Cambiar a Listo</a>
                  </td>
                {% else %}
                  <td style="background-color: #6afbbc"></td>
                {% endif %}
              </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
  setTimeout(function(){
      location.reload();
  }, 30000); 
</script>



{% endblock %}
